<a href="https://colab.research.google.com/github/hannmnnah/HelloGit/blob/master/%EB%94%B0%EB%A6%89%EC%9D%B4_NOGADA_LAST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 이중포문이 자꾸 에러나는데, 주말이라 물어볼 곳이 없어서,
# 구' 컬럼을 얼른 채우고 시각화하고 싶은 마음에 노가다 방법도 시도해봄

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
!ls /content/drive

Mounted at /content/drive
'My Drive'  'Shared drives'

In [ ]:
import pandas as pd

In [ ]:
gu_data = pd.read_csv('/content/drive/My Drive/EDA_HANA/대여소정보_2018.csv의 사본', encoding= 'utf-8')
gu_data.tail()

     대여소_구  대여소번호              대여소명  거치대수         위도          경도
1500   중랑구   1420          신내어울공원 앞    15  37.614231  127.096764
1501   중랑구   1440         하나은행 면목지점    10  37.586372  127.080070
1502   중랑구   1454  한국전력공사(동대문 중랑지사)    10  37.607349  127.078590
1503   중랑구   1459        용마한신아파트사거리    10  37.580349  127.092651
1504   중랑구   1456    상아빌딩(우림시장 교차로)    10  37.595112  127.100327

In [ ]:
user_data = pd.read_csv('/content/drive/My Drive/EDA_HANA/test.csv')
user_data_1=user_data[['Unnamed: 0','대여소번호']]
user_data_1.dtypes

Unnamed: 0    int64
대여소번호         int64
dtype: object

In [ ]:
youngpo_df = gu_data[gu_data["대여소_구"] == "영등포구"]
232 in list(youngpo_df["대여소번호"].values)

True

In [ ]:
user_data_1['영등포구']=3

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# for i in range(len(user_data_1)):
    if user_data_1.loc[i]["대여소번호"] in list(youngpo_df["대여소번호"].values):
        user_data_1.loc[i]["영등포구"] = 1
    else:
        user_data_1.loc[i]["영등포구"] = 5
user_data_1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

    Unnamed: 0  대여소번호  영등포구
0            0    232     3
1            1    551     3
2            2    141     3
3            3   1123     3
4            4   1209     3
5            5   1314     3
6            6   1319     3
7            7    216     3
8            8   2016     3
9            9    421     3
10          10    419     3
11          11    230     3
12          12    913     3
13          13   1403     3
14          14   1231     3
15          15    330     3
16          16    520     3
17          17    378     3
18          18    312     3
19          19    302     3
20          20   2272     3

In [ ]:
if user_data_1.loc[i]["대여소번호"] in list(youngpo_df["대여소번호"].values):
    user_data_1.loc[i]["영등포구"] = 1
else:
    user_data_1.loc[i]["영등포구"] = 5
user_data_1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    Unnamed: 0  대여소번호  영등포구
0            0    232     3
1            1    551     3
2            2    141     3
3            3   1123     3
4            4   1209     3
5            5   1314     3
6            6   1319     3
7            7    216     3
8            8   2016     3
9            9    421     3
10          10    419     3
11          11    230     3
12          12    913     3
13          13   1403     3
14          14   1231     3
15          15    330     3
16          16    520     3
17          17    378     3
18          18    312     3
19          19    302     3
20          20   2272     3

In [ ]:
user_data['영등포구'] = 3

In [ ]:
gangdong_df = gu_data[gu_data["대여소_구"] == "강동구"]
list(gangdong_df["대여소번호"].values)
# 강동구 대여소 리스트

gangnam_df = gu_data[gu_data["대여소_구"] == "강남구"]
list(gangnam_df["대여소번호"].values)
# 강남구 대여소 리스트

gangbuk_df = gu_data[gu_data["대여소_구"] == "강북구"]
list(gangbuk_df["대여소번호"].values)
#강북

gangseo_df = gu_data[gu_data["대여소_구"] == "강서구"]
list(gangseo_df["대여소번호"].values)
#강서

gwanak_df = gu_data[gu_data["대여소_구"] == "관악구"]
list(gwanak_df["대여소번호"].values)
#관악

gwangjin_df = gu_data[gu_data["대여소_구"] == "광진구"]
list(gwangjin_df["대여소번호"].values)
#광진

guro_df = gu_data[gu_data["대여소_구"] == "구로구"]
list(guro_df["대여소번호"].values)
#구로


gc_df = gu_data[gu_data["대여소_구"] == "금천구"]
list(gc_df["대여소번호"].values)
#금천

noone_df = gu_data[gu_data["대여소_구"] == "노원구"]
list(noone_df["대여소번호"].values)
#노원

dobong_df = gu_data[gu_data["대여소_구"] == "도봉구"]
list(dobong_df["대여소번호"].values)
#도봉

dongdaem_df = gu_data[gu_data["대여소_구"] == "동대문구"]
list(dongdaem_df["대여소번호"].values)
#동대문

dongjak_df = gu_data[gu_data["대여소_구"] == "동작구"]
list(dongjak_df["대여소번호"].values)
#동작

mapo_df = gu_data[gu_data["대여소_구"] == "마포구"]
list(mapo_df["대여소번호"].values)
#마포

seodaem_df = gu_data[gu_data["대여소_구"] == "서대문구"]
list(seodaem_df["대여소번호"].values)
#서대문

seocho_df = gu_data[gu_data["대여소_구"] == "서초구"]
list(seocho_df["대여소번호"].values)
#서초

sungdong_df = gu_data[gu_data["대여소_구"] == "성동구"]
list(sungdong_df["대여소번호"].values)
#성동

sungbook_df = gu_data[gu_data["대여소_구"] == "성북구"]
list(sungbook_df["대여소번호"].values)
#성북

songpa_df = gu_data[gu_data["대여소_구"] == "송파구"]
list(songpa_df["대여소번호"].values)
#송파

yang_df = gu_data[gu_data["대여소_구"] == "양천구"]
list(yang_df["대여소번호"].values)
#양천

youngpo_df = gu_data[gu_data["대여소_구"] == "영등포구"]
list(youngpo_df["대여소번호"].values)
#영등포

yongsan_df = gu_data[gu_data["대여소_구"] == "용산구"]
list(yongsan_df["대여소번호"].values)
#용산

ep_df = gu_data[gu_data["대여소_구"] == "은평구"]
list(ep_df["대여소번호"].values)
#은평

jongro_df = gu_data[gu_data["대여소_구"] == "종로구"]
list(jongro_df["대여소번호"].values)
#종로

joong_df = gu_data[gu_data["대여소_구"] == "중구"]
list(joong_df["대여소번호"].values)
#중구

lastnogada_df = gu_data[gu_data["대여소_구"] == "중랑구"]
list(lastnogada_df["대여소번호"].values)
#중랑구

[1406,
 1403,
 1448,
 1438,
 1445,
 1451,
 1430,
 1435,
 1442,
 1401,
 1427,
 1414,
 1422,
 1441,
 1413,
 1453,
 1410,
 1458,
 1408,
 1405,
 1404,
 1447,
 1433,
 1437,
 1444,
 1450,
 1429,
 1434,
 1416,
 1425,
 1411,
 1407,
 1421,
 1418,
 1412,
 1457,
 1455,
 1446,
 1452,
 1402,
 1431,
 1436,
 1443,
 1449,
 1428,
 1426,
 1424,
 1420,
 1440,
 1454,
 1459,
 1456]

In [ ]:
gu_list = ['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

# gu_list

In [ ]:
# for i in gu_list:
#     user_data[i]=5

user_data.dtypes

Unnamed: 0      int64
index           int64
대여일자           object
대여시간            int64
대여소번호           int64
대여소명           object
대여구분코드         object
성별             object
연령대코드          object
이용건수            int64
운동량           float64
탄소량           float64
이동거리          float64
이동시간          float64
사용시간          float64
구              object
영등포구            int64
dtype: object

In [ ]:
for i in range(len(user_data)):
    
    if user_data.loc[i]["대여소번호"] in list(gangnam_df["대여소번호"].values):
        user_data.loc[i]["강남구"] = 1
    else:
        user_data.loc[i]["강남구"] = 5
        

    if user_data.loc[i]["대여소번호"] in list(gangdong_df["대여소번호"].values):
        user_data.loc[i]["강동구"] = 1
    else:
        user_data.loc[i]["강동구"] = 5
        
    if user_data.loc[i]["대여소번호"] in list(gangbuk_df["대여소번호"].values):
        user_data.loc[i]["강북구"] = 1
    else:
        user_data.loc[i]["강북구"] = 5
    
    if user_data.loc[i]["대여소번호"] in list(gangseo_df["대여소번호"].values):
        user_data.loc[i]["강서구"] = 1
    else:
        user_data.loc[i]["강서구"] = 5

    if user_data.loc[i]["대여소번호"] in list(gwanak_df["대여소번호"].values):
        user_data.loc[i]["관악구"] = 1
    else:
        user_data.loc[i]["관악구"] = 5

    if user_data.loc[i]["대여소번호"] in list(gwangjin_df["대여소번호"].values):
        user_data.loc[i]["광진구"] = 1
    else:
        user_data.loc[i]["광진구"] = 5
    

    if user_data.loc[i]["대여소번호"] in list(guro_df["대여소번호"].values):
        user_data.loc[i]["구로구"] = 1
    else:
        user_data.loc[i]["구로구"] = 5

    if user_data.loc[i]["대여소번호"] in list(gc_df["대여소번호"].values):
        user_data.loc[i]["금천구"] = 1
    else:
        user_data.loc[i]["금천구"] = 5
    
    if user_data.loc[i]["대여소번호"] in list(noone_df["대여소번호"].values):
        user_data.loc[i]["노원구"] = 1
    else:
        user_data.loc[i]["노원구"] = 5

    if user_data.loc[i]["대여소번호"] in list(dobong_df["대여소번호"].values):
        user_data.loc[i]["도봉구"] = 1
    else:
        user_data.loc[i]["도봉구"] = 5
        
    if user_data.loc[i]["대여소번호"] in list(dongdaem_df["대여소번호"].values):
        user_data.loc[i]["동대문구"] = 1
    else:
        user_data.loc[i]["동대문구"] = 5
        
    if user_data.loc[i]["대여소번호"] in list(dongjak_df["대여소번호"].values):
        user_data.loc[i]["동작구"] = 1
    else:
        user_data.loc[i]["동작구"] = 5

    if user_data.loc[i]["대여소번호"] in list(mapo_df["대여소번호"].values):
        user_data.loc[i]["마포구"] = 1
    else:
        user_data.loc[i]["마포구"] = 5

    if user_data.loc[i]["대여소번호"] in list(seodaem_df["대여소번호"].values):
        user_data.loc[i]["서대문구"] = 1
    else:
        user_data.loc[i]["서대문구"] = 5

    if user_data.loc[i]["대여소번호"] in list(seocho_df["대여소번호"].values):
        user_data.loc[i]["서초구"] = 1
    else:
        user_data.loc[i]["서초구"] = 5


    if user_data.loc[i]["대여소번호"] in list(sungdong_df["대여소번호"].values):
        user_data.loc[i]["성동구"] = 1
    else:
        user_data.loc[i]["성동구"] = 5
    
    if user_data.loc[i]["대여소번호"] in list(sungbook_df["대여소번호"].values):
        user_data.loc[i]["성북구"] = 1
    else:
        user_data.loc[i]["성북구"] = 5
        
    if user_data.loc[i]["대여소번호"] in list(songpa_df["대여소번호"].values):
        user_data.loc[i]["송파구"] = 1
    else:
        user_data.loc[i]["송파구"] = 5
        
    if user_data.loc[i]["대여소번호"] in list(yang_df["대여소번호"].values):
        user_data.loc[i]["양천구"] = 1
    else:
        user_data.loc[i]["양천구"] = 5
        
    if user_data.loc[i]["대여소번호"] in list(youngpo_df["대여소번호"].values):
        user_data.loc[i]["영등포구"] = 1
    else:
        user_data.loc[i]["영등포구"] = 5
        
    if user_data.loc[i]["대여소번호"] in list(yongsan_df["대여소번호"].values):
        user_data.loc[i]["용산구"] = 1
    else:
        user_data.loc[i]["용산구"] = 5
        
        
    if user_data.loc[i]["대여소번호"] in list(ep_df["대여소번호"].values):
        user_data.loc[i]["은평구"] = 1
    else:
        user_data.loc[i]["은평구"] = 5
        
    if user_data.loc[i]["대여소번호"] in list(jongro_df["대여소번호"].values):
        user_data.loc[i]["종로구"] = 1
    else:
        user_data.loc[i]["종로구"] = 5
        
    if user_data.loc[i]["대여소번호"] in list(joong_df["대여소번호"].values):
        user_data.loc[i]["중구"] = 1
    else:
        user_data.loc[i]["중구"] = 5
        
    if user_data.loc[i]["대여소번호"] in list(lastnogada_df["대여소번호"].values):
        user_data.loc[i]["중랑구"] = 1
    else:
        user_data.loc[i]["중랑구"] = 5
        
          
user_data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:104: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    Unnamed: 0  index        대여일자  대여시간  대여소번호  ...     이동거리   이동시간 사용시간  구  영등포구
0            0      1  2018-01-01    16    232  ...   1060.0   10.0  NaN  구     3
1            1      2  2018-01-01    16    551  ...  20510.0  106.0  NaN  구     3
2            2      3  2018-01-01    16    141  ...  47900.0   11.0  NaN  구     3
3            3      4  2018-01-01    16   1123  ...  13710.0  108.0  NaN  구     3
4            4      5  2018-01-01    16   1209  ...      0.0   29.0  NaN  구     3
5            5      6  2018-01-01    16   1314  ...   8020.0   49.0  NaN  구     3
6            6      7  2018-01-01    16   1319  ...   2070.0   13.0  NaN  구     3
7            7      8  2018-01-01    16    216  ...    640.0    4.0  NaN  구     3
8            8      9  2018-01-01    16   2016  ...    590.0    3.0  NaN  구     3
9            9     10  2018-01-01    16    421  ...    450.0    2.0  NaN  구     3
10          10     11  2018-01-01    16    419  ...   6310.0   29.0  NaN  구     3
11          11     12  2018-01-01    16    230  ...   1670.0   14.0  NaN  구     3
12          12     13  2018-01-01    16    913  ...   1240.0    9.0  NaN  구     3
13          13     14  2018-01-01    16   1403  ...   2330.0   13.0  NaN  구     3
14          14     15  2018-01-01    16   1231  ...  10460.0  101.0  NaN  구     3
15          15     16  2018-01-01    16    330  ...    530.0    5.0  NaN  구     3
16          16     30  2018-01-01    16    520  ...  16180.0   49.0  NaN  구     3
17          17     31  2018-01-01    16    378  ...   3590.0   24.0  NaN  구     3
18          18     32  2018-01-01    16    312  ...   1170.0    9.0  NaN  구     3
19          19     33  2018-01-01    16    302  ...   1570.0    9.0  NaN  구     3
20          20     34  2018-01-01    16   2272  ...   1150.0    9.0  NaN  구     3

[21 rows x 17 columns]

In [ ]:
user_data.columns

user_data_1 = user_data[['Unnamed: 0', 'index', '대여일자', '대여시간', '대여소번호', '대여소명', '대여구분코드', '성별',
       '연령대코드', '이용건수', '운동량', '탄소량', '이동거리', '이동시간', '사용시간','강남구',
       '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구',
       '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구',
       '은평구', '종로구', '중구', '중랑구']]

user_data_1['구']='롸'

In [ ]:
# user_data_1['구'] = ''

for i in range(len(user_data_1)):
    if user_data_1.loc[i]['강남구'] == 1:
        user_data_1.loc[i]['구'] = '강남구'
    else:
        user_data_1.loc[i]['구'] = '3'

    if user_data_1.loc[i]['강동구'] == 1:
        user_data_1.loc[i]['구'] = '강동구'
    else:
        user_data_1.loc[i]['구'] = '3'
        
    if user_data_1.loc[i]['강북구'] == 1:
        user_data_1.loc[i]['구'] = '강북구'
    else:
        user_data_1.loc[i]['구'] = '3'

    if user_data_1.loc[i]['강서구'] == 1:
        user_data_1.loc[i]['구'] = '강서구'
    else:
        user_data_1.loc[i]['구'] = '3'

    if user_data_1.loc[i]['영등포구'] == 1:
        user_data_1.loc[i]['구'] = '영등포구'
    else:
        user_data_1.loc[i]['구'] = '3'




user_data_1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    Unnamed: 0  index        대여일자  대여시간  대여소번호  ... 은평구 종로구 중구 중랑구  구
0            0      1  2018-01-01    16    232  ...   5   5  5   5  롸
1            1      2  2018-01-01    16    551  ...   5   5  5   5  롸
2            2      3  2018-01-01    16    141  ...   5   5  5   5  롸
3            3      4  2018-01-01    16   1123  ...   5   5  5   5  롸
4            4      5  2018-01-01    16   1209  ...   5   5  5   5  롸
5            5      6  2018-01-01    16   1314  ...   5   5  5   5  롸
6            6      7  2018-01-01    16   1319  ...   5   5  5   5  롸
7            7      8  2018-01-01    16    216  ...   5   5  5   5  롸
8            8      9  2018-01-01    16   2016  ...   5   5  5   5  롸
9            9     10  2018-01-01    16    421  ...   5   5  5   5  롸
10          10     11  2018-01-01    16    419  ...   5   5  5   5  롸
11          11     12  2018-01-01    16    230  ...   5   5  5   5  롸
12          12     13  2018-01-01    16    913  ...   5   5  5   5  롸
13          13     14  2018-01-01    16   1403  ...   5   5  5   5  롸
14          14     15  2018-01-01    16   1231  ...   5   5  5   5  롸
15          15     16  2018-01-01    16    330  ...   5   5  5   5  롸
16          16     30  2018-01-01    16    520  ...   5   5  5   5  롸
17          17     31  2018-01-01    16    378  ...   5   5  5   5  롸
18          18     32  2018-01-01    16    312  ...   5   5  5   5  롸
19          19     33  2018-01-01    16    302  ...   5   5  5   5  롸
20          20     34  2018-01-01    16   2272  ...   5   5  5   5  롸

[21 rows x 41 columns]

In [ ]:
user_data['강동구'] == 'Y'

0     True
1    False
2    False
3     True
Name: 강동구, dtype: bool